<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.4/dist/full.css" rel="stylesheet" type="text/css" />
</head>

<body class="relative w-screen h-screen flex justify-center items-center" style="background-color: #f2f4fb">
   
   
    <!-- card container for login  -->
   
   
   
    <div class="card bg-base-100 shadow-xl" style="width: 500px">
        <div class="card-body">
            <div class="logo flex justify-center items-center gap-3">
                <img src="./../assets/logo.png" alt="" class="w-10 h-10" />
                <span class="text-lg font-bold" style="color: #4b13e9">
                    Ask
                    <br />
                    Class
                </span>
            </div>

            <!-- login form  -->
            <form action="" class="flex flex-col gap-6 pt-8">
                <div class="form-control w-full">
                    <span class="label-text">Name</span>
                    <input type="text" placeholder="e.g. James John" class="input input-bordered w-full mt-3" />
                </div>
                <div class="form-control w-full">
                    <span class="label-text">What is your name?</span>
                    <input type="text" placeholder="10-digit access code" class="input input-bordered w-full mt-3" />
                </div>
                <input type="submit" value="Sign Up" class="input text-white font-bold input-bordered w-full mt-3"
                    style="background-color: #4b13e9" />
            </form>
        </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>